<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-item>
      <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="Stuff">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>{{homeTeam}}</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>

          <ion-tab-button tab="Some other stuff">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>{{awayTeam}}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-item>
    <hr>
    <ion-item style="text-align: center;" class="fields">
      <ion-label>AMOUNT TO BET:</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item class="button">
      <ion-button strong color="primary-alt">PLACE BET!</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
