ion-menu-button {
  color: var(--ion-color-primary-alt);
}

.fields{
  margin-top: 15px;
  margin-bottom: 15px;

  max-width: 60% !important;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.card{
  margin-top: 15px;
  margin-bottom: 15px;

  max-width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-align: center !important;

  margin-left: auto;
  margin-right: auto;
}

// .my-custom-interface .brown-option {
//   --color: #5e3e2c;
//   --color-hover: #362419;
// }

.my-custom-interface .alert-wrapper {
  max-width: 94% !important;
}

.my-custom-interface .brown-option {
  --color: #5e3e2c;
  --color-hover: #362419;
}
