<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="end">
      <ion-chip (click)="logout()" outline color="primary-alt">
        <ion-avatar>
          <img [src]="client.photoURL" width='25px' height="25px">
        </ion-avatar>
        <ion-label color="warning">{{client.displayName}}</ion-label>
        <ion-icon name="log-out-outline" color="danger"></ion-icon>
      </ion-chip>
    </ion-buttons> -->
    <!-- <ion-buttons slot="end" *ngIf='!user'>
      <ion-button color='primary-alt' fill='solid' size='default' shape='round' class='buttonStyle' (click)="signup()">
        <img src="../../assets/icon/icons8-google.svg" width='25px' height="25px">
        SIGN UP
      </ion-button>
      <ion-button color='primary-alt' fill='solid' size='default' shape='round' class= 'buttonStyle' (click)="login()">
        <img src="../../assets/icon/icons8-google.svg" width='25px' height="25px">
        LOG IN
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let data of fetchedData?.matches; index as  i ">
    <ion-item class="matchList">
    <!-- <span class="len">{{ i + 1 }}</span> -->
      <ion-thumbnail>
        <ion-img [src]="homeImages[i]" class="homeAvatar" onerror="this.onerror=null; this.src='http:/\/newsapi.org/images/n-logo-border.png'"  alt="" width="80" height="80"></ion-img>
      </ion-thumbnail>
      <ion-label style="text-align: center;">
        <h3 style="color: rgb(196, 221, 128); font-size: x-large;">{{data.homeTeam.name}} vs. {{data.awayTeam.name}}</h3>
        <p style="font-family: times new roman; font-size: large; color: white;">{{data.description}}</p>
        <p>{{data.content}}</p>
        <h4> <em>{{data.stage}}</em> - <span class="minor">{{data.utcDate}}</span></h4>
        <ion-button color="primary-alt">
          <b>PLACE BET</b>
        </ion-button>
      </ion-label>
      <ion-thumbnail>
        <ion-img [src]="awayImages[i]" class="awayAvatar" onerror="this.onerror=null; this.src='http:/\/newsapi.org/images/n-logo-border.png'"  alt="" width="80" height="80"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-content *ngIf='!user'>
  <ion-icon name="sad" class="loggedOut1" style="font-size: 100px;"></ion-icon>
  <p class="loggedOut2" style="padding-top: 0px;">Nothing to see here, please login or signup above</p>
</ion-content> -->


